export(envplot)
export(envsig)
export(envelope)
S3method(envelope, variogram)
S3method(envelope, gstatVariogram)
importFrom("geoR", "variog")
importFrom("geoR", "as.geodata")
importFrom("sp", "coordinates")
importFrom("gstat", "variogram")
importFrom("graphics", "lines", "plot", "points", "polygon")
importFrom("stats", "lm", "quantile", "pchisq")
